@model List<IndexPostViewModel>


@{
    ViewBag.Title = "Index";
}

@section scripts  {
    <script>
        $(function () {
            $(".btn-delete").on('click', function (e) {
                e.preventDefault();
                $(this).closest('form').submit();
            });
        });

    </script>
}

<h3>List of posts</h3>

<a class="btn btn-primary" href="@Url.Action("Create", "Post")">Create new post</a>

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>You have no posts</strong></p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Post tile</th>
                <th>Post body</th>
                <th>Published<th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
            <tr>
                <td>@record.Title</td>
                @if (record.Body.Length >= 80)
                {
                    <td>@record.Body.Substring(0, 80) ...</td>
                }
                else
                {
                    <td>@record.Body</td>
                }
                <td>@record.Published</td>
                <td>
                    <a href="@Url.Action("DetailBySlug", "Post", new { slug = record.Slug })">Detail</a>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Post", new { id = record.Id })">Edit</a>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <form method="post" action="@Url.Action("Delete", "Post", new { id = record.Id })">
                            <a href="#" class="btn-delete">Delete</a>
                        </form>
                    </td>
                }

            </tr>
            }

        </tbody>
    </table>
}