<!DOCTYPE html>
<html>
<head>
    <title>JerrysBlog</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" defer></script>*@
    <!--end slider -->
    <!--script-->
    <script src="~/Scripts/js/move-top.js" defer></script>
    <script src="~/Scripts/js/easing.js" defer></script>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" defer>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>

    <!--/script-->
    <!---->

</head>
<body>
    <!---body top---->
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/logo.jpg" /></a>
            </div>
            <!---start-top-nav---->
            <div class="top-menu">
                <div class="search">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <input type="text" name="Text" placeholder="Keyword" />
                        <input type="submit" value="" />
                    }
                </div>
                <span class="menu"> </span>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Post Management", "Index", "Post")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <div class="clearfix">
            </div>
            <script defer>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                })
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    <!--/body top-->
    @RenderBody()

    <div class="clearfix"></div>

    <div class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year All rights reserved | Designed by <a target="_blank" href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>

</html>
