@model List<IndexHomeViewModel>

@{
    /**/

    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>
    <script defer>
        document.addEventListener("DOMContentLoaded", () => {
            let wrapper = document.querySelector(".post-info p");
            new Dotdotdot(wrapper, {

                callback: function (isTruncated) { },
                /* Function invoked after truncating the text.
                   Inside this function, "this" refers to the wrapper. */

                ellipsis: "\u2026 ",
                /* The text to add as ellipsis. */

                height: 20,
                /* The (max-)height for the wrapper:
                   null: measure the CSS (max-)height ones;
                   a number: sets a specific height in pixels;
                   "watch": re-measures the CSS (max-)height in the "watch". */

                keep: null,
                /* Query selector for elements to keep after the ellipsis. */

                tolerance: 0,
                /* Deviation for the measured wrapper height. */

                truncate: "word",
                /* How to truncate the text: "node", "word" or "letter". */

                watch: "window",
                /* Whether to update the ellipsis:
                   true: Monitors the wrapper width and height;
                   "window": Monitors the window width and height. */

            });
        });
            //$("post-info > p").slice(0, 20);

    </script>
}

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>You have no posts</strong></p>
    </div>
}
else
{
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        @foreach (var record in Model)
                        {
                            <div class="content-grid-info">
                                @if (record.MediaUrl != null)
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-responsive" src="@Url.Content(record.MediaUrl)" />
                                        </div>
                                    </div>
                                }
                                <div class="post-info">
                                    <h4><a href="@Url.Action("Detail", "Post" , new { id = record.Id })">@record.Title</a>@record.DateCreated.ToString("HH:mm dddd - MMMM dd yyyy")  / 0 Comments</h4>
                                    <p class="body-sm">@Html.Raw(record.Body)</p>
                                    <a href="@Url.Action("Detail", "Post" , new { id = record.Id })"><span></span>READ MORE</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-4 content-right">
                    <div class="recent">
                        <h3>RECENT POSTS</h3>
                        <ul>
                            @foreach (var record in Model)
                            {
                                <li><a href="@Url.Action("Detail", "Post" , new { id = record.Id })">@record.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="comments">
                        <h3>RECENT COMMENTS</h3>
                        <ul>
                            <li><a href="#">Not Available(Person name)</a> on <a href="#">Not Available(Title)</a></li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="archives">
                        <h3>ARCHIVES</h3>
                        <ul>
                            @foreach (var record in Model)
                            {
                                <li><a href="@Url.Action("Detail", "Post" , new { id = record.Id })">@record.DateCreated.ToString("HH:mm dddd - MMMM dd yyyy")</a></li>
                            }
                        </ul>
                    </div>
                    <div class="categories">
                        <h3>CATEGORIES</h3>
                        <ul>
                            <li><a href="#">Not Available</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>


                </div>
            </div>

        </div>
    </div>
}