@model List<IndexHomeViewModel>

@{
    /**/

    ViewBag.Title = "Home Page";
}

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>You have no posts</strong></p>
    </div>
}
else
{
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        @foreach (var record in Model)
                        {
                            <div class="content-grid-info">
                                @if (record.MediaUrl != null)
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-responsive" src="@Url.Content(record.MediaUrl)" />
                                        </div>
                                    </div>
                                }
                                <div class="post-info">
                                    <h4><a href="@Url.Action("DetailBySlug", "Post", new { slug = record.Slug })">@record.Title</a>@record.DateCreated.ToString("HH:mm dddd - MMMM dd yyyy")  / 0 Comments</h4>
                                    @if (record.Body.Length >= 180)
                                    {
                                        <p>@Html.Raw(record.Body.Substring(0, 180)) &#9986;&#9986;&#9986;</p>
                                    }
                                    else
                                    {
                                        <p>@Html.Raw(record.Body)</p>
                                    }
                                    <a href="@Url.Action("DetailBySlug", "Post", new { slug = record.Slug })"><span></span>READ MORE</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-4 content-right">
                    <div class="recent">
                        <h3>RECENT POSTS</h3>
                        <ul>
                            @foreach (var record in Model)
                            {
                                <li><a href="@Url.Action("Detail", "Post" , new { id = record.Id })">@record.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="comments">
                        <h3>RECENT COMMENTS</h3>
                        <ul>
                            <li><a href="#">Not Available(Person name)</a> on <a href="#">Not Available(Title)</a></li>

                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="archives">
                        <h3>ARCHIVES</h3>
                        <ul>
                            @foreach (var record in Model)
                            {
                                <li><a href="@Url.Action("Detail", "Post" , new { id = record.Id })">@record.DateCreated.ToString("HH:mm dddd - MMMM dd yyyy")</a></li>
                            }
                        </ul>
                    </div>
                    <div class="categories">
                        <h3>CATEGORIES</h3>
                        <ul>
                            <li><a href="#">Not Available</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>


                </div>
            </div>

        </div>
    </div>
}